footer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer-col {
  padding: 40px 0px;
}

.pages-row {
  background-color: #920503;
}

.pages {
  padding: 20px 0px;
  background-color: #920503;
  text-align: right;
}

.pages a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
}

#footer-logo-full {
  height: 100px;
}

#footer-logo-sm {
  display: none;
}

.social {
  padding-right: 30px;
  margin: 0 auto;
  color: white;
  align-items: center;
}

.social:hover {
  color: #920503;
}

.footer-email {
  padding: 20px 0;
}

#footer-email {
  color: white;
  text-align: center;
}

.footer-hr {
  border: 1px solid white;
}

.newsletter {
  color: white;
  text-transform: uppercase;
}

.footer-col p {
  /* color: white; */
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 900;
  hsl(192, 17%, 99%);
}

@media screen and (max-width: 576px) {
  .footer-col {
    padding: 10px 0px;
    text-align: center;
  }

  .social {
    padding-right: 10px;
    height: 10px;
  }

  .pages {
    padding: 0px;
  }

  .pages a {
    font-size: 12px;
  }
}
